.title { 
    font-size: 2.25rem; 
    line-height: 1.5rem; 
    font-weight: bold;
    margin-bottom: 2rem;
}

.dividedLine {
    @apply w-full;
    height: 1px;
    background-color: #e5e7eb;
    margin-top: 2rem;
}